.NavBar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 40px;
  color: var(--base-font-color);
  background-color: black;
}

.Container {
  display: flex;
  align-items: center;
  padding: 0 15px;
  width: 100%;
  height: 100%;
}

.Title {
  color: var(--base-font-color);
  margin-right: 30px;
  letter-spacing: 1px;
}

.NavBarItems {
  display: flex;
  height: 100%;
}
